body{
    background: #2C2D23;
}
img {
    max-width: 100%;
}
#wrapper {
    max-width: 1200px;
    background-color: #B2BDA4;
}
#boutons-end {
    display: none;
}
#main-footer {
    margin-top: 30px;
}